@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  font-family: 'Ubuntu', sans-serif;
  color: ivory;
  background-color: #15202b;
}

.text-font-color {
  font-family: 'Ubuntu', sans-serif;
  color: ivory;
}

.bg-color {
  background-color: #15202b;
}

.bg-blue {
  background-color: #1d9bf0;
}

.color-blue {
  color: #1d9bf0;
}

.bg-red {
  background-color: red;
}

.color-red {
  color: red;
}

.bg-gray {
  background-color: #536471;
}

.color-gray {
  color: #536471;
}