.modal-overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    height: 40.5em;
    width: 37em;
    border-radius: 1.25em;
}
