.validated-input {
    height: fit-content;
}

.validated-input-value {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 90%;
    line-height: 26px;
    font-size: 20px;
    font-weight: 300;
    background-color: rgba(256, 256, 256, 0);
    border: none;
    z-index: 5;
}

.validated-input-value:focus {
    outline: none;
    border: none;
}