.validated-input {
}

.validated-input-value {
    line-height: 26px;
    font-size: 20px;
    font-weight: 300;
    background-color: var(--twitter-theme-bg-primary-color);
    border: none;
    color: var(--twitter-theme-text-color);
    width: 60%;
}
 
.validated-input-value:focus {
    outline: none;
    border: none;
}

.validated-date-selector {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
}
